/* .App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* body {
  background: #c0ffee;
  }
  .App {
  margin: 1em;
  font-family: "Avenir", "Arial", sans-serif;
  }
  .list {
  list-style: none;
  }
  .list-item {
  padding: 1em;
  display: flex;
  flex: 1;
  align-items: center;
  border: 0.25em solid #cacaca;
  margin-bottom: 1em;
  }
  .list-item-image-container {
    flex: 1;
  }
  .list-item-image-container > img {
    height: 4em;
  }
  .list-item-name {
    flex: 3;
  }
  .list-item-power {
    font-weight: bolder;
    color: #ff0000;
  } */
  
  /* body{
    font-family: 'Open Sans',serif;
    color: rgb(255, 255, 255);
 }
 
 .header-container {
   margin: 15px;
   background-color: yellow;
   border-width: 2px;
   border-color: white;
   border-style: solid;
 }
 .card-container {
   margin: 10px;
   padding: 10px;
   border-radius: 10px;
   border-width: 3px;
   border-color: black;
   border-style: solid;
   font-weight: bold;
   background-color: rgb(75, 120, 146);
 } */
 body{
  font-family: 'Open Sans',serif;
  color: rgb(255, 255, 255);
}

.header-container {
 margin: 15px;
 background-color: yellow;
 border-width: 2px;
 border-color: white;
 border-style: solid;
}
.card-container {
 margin: 10px;
 padding: 10px;
 border-radius: 10px;
 border-width: 3px;
 border-color: black;
 border-style: solid;
 font-weight: bold;
 background-color: rgb(156, 13, 3);
} 